* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #e3e6e6;
}

/* HEADER */
.header {
  background-color: #131921;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

.search-box {
  display: flex;
  width: 50%;
}

.search-box input {
  width: 100%;
  padding: 8px;
  border: none;
}

.search-box button {
  background-color: #febd69;
  border: none;
  padding: 8px 15px;
  cursor: pointer;
}

.nav-links a {
  color: white;
  text-decoration: none;
  margin-left: 15px;
  font-size: 14px;
}

/* MENU */
.menu {
  background-color: #232f3e;
  padding: 10px 20px;
}

.menu a {
  color: white;
  text-decoration: none;
  margin-right: 15px;
  font-size: 14px;
}

/* BANNER */
.banner {
  background: linear-gradient(to right, #ff9900, #ff6600);
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 28px;
  font-weight: bold;
}

/* PRODUTOS */
.produtos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
}

.card {
  background: white;
  padding: 15px;
  text-align: center;
  border-radius: 5px;
}

.card img {
  width: 100%;
}

.preco {
  color: #b12704;
  font-weight: bold;
  margin: 10px 0;
}

.card button {
  background-color: #ffd814;
  border: 1px solid #fcd200;
  padding: 8px;
  cursor: pointer;
  width: 100%;
  
}

/* FOOTER */

.footer {
  background-color: #232f3e;
  color: white;
  margin-top: 40px;
}

.footer-top {
  background-color: #37475a;
  text-align: center;
  padding: 15px;
}

.footer-top a {
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.footer-links {
  display: flex;
  justify-content: space-around;
  padding: 40px 20px;
  flex-wrap: wrap;
}

.footer-column {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.footer-column h4 {
  margin-bottom: 10px;
  font-size: 16px;
}

.footer-column a {
  color: #ddd;
  text-decoration: none;
  margin-bottom: 8px;
  font-size: 14px;
}

.footer-column a:hover {
  text-decoration: underline;
}

.footer-bottom {
  background-color: #131a22;
  text-align: center;
  padding: 15px;
  font-size: 13px;
  color: #ccc;
}